body {
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    height: 100%;
    background-color: aqua;
}

div {
    height: 300px;
    width: 300px;
    border: 2px dashed white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.div1 {
    background-color: red;
}

.div2 {
    background-color: blue;
}

.div3 {
    background-color: green;
}

@media (max-width: 375px) {
    div {
        width: 200px;
        height: 200px;
        flex-direction: column;
    }

    .div1 {
        background-color: #fa0;
    }
    
    .div2 {
        background-color: #2f5a7e;
    }
    
    .div3 {
        background-color: #0f0;
    }
}